.fr
  float right
.pa
  position absolute
.pf
  position fixed
.inline
  display inline-block
  vertical-align middle

.text-flow
.mult-text-flow

.logo-icon
  background url("../img/logo-w.png") no-repeat
  background-size contain

.projects-item
  .card
    cursor pointer
  .card-title
    padding 10px 0 0 20px
  .card-content
    padding-top 10px
  .star-tip
    color #666
    padding-top 10px
    font-size 14px
    margin-right 20px

.brand-logo
  padding-left 20px !important
  .logo-icon
    width 28px
    height 31px
    margin-right 0px

